<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AvaliApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvaliApp"
        tools:targetApi="31">
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Cadastro"
            android:exported="false" />
        <activity
            android:name=".historicofeedback"
            android:exported="false" />
        <activity
            android:name=".reuniao"
            android:exported="false" />
        <activity
            android:name=".gerenciamento_grupo"
            android:exported="false" />
        <activity
            android:name=".biografia"
            android:exported="false" />
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".horarios"
            android:exported="false" />
        <activity
            android:name=".graficos"
            android:exported="false" />
        <activity
            android:name=".responder_form"
            android:exported="false" />
        <activity
            android:name=".Formulario"
            android:exported="false" />
        <activity
            android:name=".criarAvaliacao"
            android:exported="false" />
        <activity
            android:name=".gestor"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>